<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="CA" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>

	<appender name="FA" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="INFO" />
		<param name="File" value="sample.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p  [%c{1}] %m %n" />
		</layout>
	</appender>

    <logger name="com.tut">
        <level value="debug"/>
        <appender-ref ref="CA"/>
    </logger>

	<root>
        <priority value="warn" />
        <appender-ref ref="CA" />
	</root>

</log4j:configuration>